<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1053</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2026 The Darley Sans Project Authors (https://github.com/googlefonts/darleysans)</string>
    <key>descender</key>
    <integer>-417</integer>
    <key>familyName</key>
    <string>Darley Sans</string>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2025/02/07 17:08:02</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>3</integer>
    <key>openTypeHheaAscender</key>
    <integer>1053</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-417</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string> </string>
    <key>openTypeNameDesigner</key>
    <string>Daniel P. Lyons</string>
    <key>openTypeNameDesignerURL</key>
    <string>lyonstype4.wixsite.com/lyonstype-beta</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>LyonsType</string>
    <key>openTypeNameManufacturerURL</key>
    <string> </string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Darley Sans</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Copyright © LyonsType, 2023. All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Copyright © LyonsType, 2023. All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Copyright © LyonsType, 2023. All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Darley Sans</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Darley Sans</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Darley Sans</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>LyonsType: Darley Sans Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>LyonsType: Darley Sans Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>LyonsType: Darley Sans Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Darley Sans Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Darley Sans Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Darley Sans Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string></string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string></string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string></string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DarleySansRegular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>DarleySansRegular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DarleySansRegular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>LyonsType</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>LyonsType</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>LyonsType</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Daniel P. Lyons</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Daniel P. Lyons</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Daniel P. Lyons</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>lyonstype4.wixsite.com/lyonstype-beta</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>lyonstype4.wixsite.com/lyonstype-beta</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>lyonstype4.wixsite.com/lyonstype-beta</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string> </string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Darley Sans</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Darley Sans</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Darley Sans</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>4</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
    </array>
    <key>openTypeNameUniqueID</key>
    <string>LyonsType: Darley Sans Regular</string>
    <key>openTypeNameVersion</key>
    <string></string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>258</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>49</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>699</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>479</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>699</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1053</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-417</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>29</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>38</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>XXXX</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>402</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>DarleySansRegular</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Darley Sans Regular</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>0</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>0</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Darley Sans</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string> </string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>487</integer>
    <key>year</key>
    <integer>2026</integer>
  </dict>
</plist>
