<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>guillemotleft</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>guillemotright</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>multiply</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>Amacron</string>
      <string>amacron</string>
      <string>Abreve</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>cacute</string>
      <string>Ccaron</string>
      <string>ccaron</string>
      <string>Dcaron</string>
      <string>dcaron</string>
      <string>Dcroat</string>
      <string>dcroat</string>
      <string>Emacron</string>
      <string>emacron</string>
      <string>Edotaccent</string>
      <string>edotaccent</string>
      <string>Eogonek</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>ecaron</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>Capital_Letter_G_wit</string>
      <string>Small_Letter_G_with_</string>
      <string>Itilde</string>
      <string>itilde</string>
      <string>Imacron</string>
      <string>imacron</string>
      <string>Iogonek</string>
      <string>iogonek</string>
      <string>Idotaccent</string>
      <string>dotlessi</string>
      <string>Capital_Letter_K_wit</string>
      <string>Small_Letter_K_with_</string>
      <string>Lacute</string>
      <string>lacute</string>
      <string>Capital_Letter_L_wit</string>
      <string>Small_Letter_L_with_</string>
      <string>Lcaron</string>
      <string>lcaron</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Nacute</string>
      <string>nacute</string>
      <string>Capital_Letter_N_wit</string>
      <string>Small_Letter_N_with_</string>
      <string>Ncaron</string>
      <string>ncaron</string>
      <string>Omacron</string>
      <string>omacron</string>
      <string>Ohungarumlaut</string>
      <string>ohungarumlaut</string>
      <string>OE</string>
      <string>oe</string>
      <string>Racute</string>
      <string>racute</string>
      <string>Capital_Letter_R_wit</string>
      <string>Small_Letter_R_with_</string>
      <string>Rcaron</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>sacute</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Capital_Letter_T_wit</string>
      <string>Small_Letter_T_with_</string>
      <string>Tcaron</string>
      <string>tcaron</string>
      <string>Utilde</string>
      <string>utilde</string>
      <string>Umacron</string>
      <string>umacron</string>
      <string>Uring</string>
      <string>uring</string>
      <string>Uhungarumlaut</string>
      <string>uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uogonek</string>
      <string>Wcircumflex</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>zacute</string>
      <string>Zdotaccent</string>
      <string>zdotaccent</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>florin</string>
      <string>Ohorn</string>
      <string>ohorn</string>
      <string>Uhorn</string>
      <string>uhorn</string>
      <string>Capital_Letter_S_wit</string>
      <string>Small_Letter_S_with_</string>
      <string>Capital_Letter_T_wit.1</string>
      <string>Small_Letter_T_with_.1</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>MODIFIER_LETTER_MACR</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>COMBINING_HORN</string>
      <string>COMBINING_COMMA_BELO</string>
      <string>GREEK_SMALL_LETTER_M</string>
      <string>Wgrave</string>
      <string>wgrave</string>
      <string>Wacute</string>
      <string>wacute</string>
      <string>Wdieresis</string>
      <string>wdieresis</string>
      <string>Capital_Letter_A_WIT</string>
      <string>SMALL_LETTER_A_WITH_</string>
      <string>Capital_Letter_A_WIT.1</string>
      <string>SMALL_LETTER_A_WITH_.1</string>
      <string>Capital_Letter_A_WIT.2</string>
      <string>SMALL_LETTER_A_WITH_.2</string>
      <string>Capital_Letter_A_WIT.3</string>
      <string>SMALL_LETTER_A_WITH_.3</string>
      <string>Capital_Letter_A_WIT.4</string>
      <string>SMALL_LETTER_A_WITH_.4</string>
      <string>Capital_Letter_A_WIT.5</string>
      <string>SMALL_LETTER_A_WITH_.5</string>
      <string>Capital_Letter_A_WIT.6</string>
      <string>SMALL_LETTER_A_WITH_.6</string>
      <string>Capital_Letter_A_WIT.7</string>
      <string>SMALL_LETTER_A_WITH_.7</string>
      <string>Capital_Letter_A_WIT.8</string>
      <string>SMALL_LETTER_A_WITH_.8</string>
      <string>Capital_Letter_A_WIT.9</string>
      <string>SMALL_LETTER_A_WITH_.9</string>
      <string>Capital_Letter_A_WIT.10</string>
      <string>SMALL_LETTER_A_WITH_.10</string>
      <string>Capital_Letter_A_WIT.11</string>
      <string>SMALL_LETTER_A_WITH_.11</string>
      <string>Capital_Letter_E_WIT</string>
      <string>SMALL_LETTER_E_WITH_</string>
      <string>Capital_Letter_E_WIT.1</string>
      <string>SMALL_LETTER_E_WITH_.1</string>
      <string>Capital_Letter_E_WIT.2</string>
      <string>SMALL_LETTER_E_WITH_.2</string>
      <string>Capital_Letter_E_WIT.3</string>
      <string>SMALL_LETTER_E_WITH_.3</string>
      <string>Capital_Letter_E_WIT.4</string>
      <string>SMALL_LETTER_E_WITH_.4</string>
      <string>Capital_Letter_E_WIT.5</string>
      <string>SMALL_LETTER_E_WITH_.5</string>
      <string>Capital_Letter_E_WIT.6</string>
      <string>SMALL_LETTER_E_WITH_.6</string>
      <string>Capital_Letter_E_WIT.7</string>
      <string>SMALL_LETTER_E_WITH_.7</string>
      <string>Capital_Letter_I_WIT</string>
      <string>SMALL_LETTER_I_WITH_</string>
      <string>Capital_Letter_I_WIT.1</string>
      <string>SMALL_LETTER_I_WITH_.1</string>
      <string>Capital_Letter_O_WIT</string>
      <string>SMALL_LETTER_O_WITH_</string>
      <string>Capital_Letter_O_WIT.1</string>
      <string>SMALL_LETTER_O_WITH_.1</string>
      <string>Capital_Letter_O_WIT.2</string>
      <string>SMALL_LETTER_O_WITH_.2</string>
      <string>Capital_Letter_O_WIT.3</string>
      <string>SMALL_LETTER_O_WITH_.3</string>
      <string>Capital_Letter_O_WIT.4</string>
      <string>SMALL_LETTER_O_WITH_.4</string>
      <string>Capital_Letter_O_WIT.5</string>
      <string>SMALL_LETTER_O_WITH_.5</string>
      <string>Capital_Letter_O_WIT.6</string>
      <string>SMALL_LETTER_O_WITH_.6</string>
      <string>Capital_Letter_O_WIT.7</string>
      <string>SMALL_LETTER_O_WITH_.7</string>
      <string>Capital_Letter_O_WIT.8</string>
      <string>SMALL_LETTER_O_WITH_.8</string>
      <string>Capital_Letter_O_WIT.9</string>
      <string>SMALL_LETTER_O_WITH_.9</string>
      <string>Capital_Letter_O_WIT.10</string>
      <string>SMALL_LETTER_O_WITH_.10</string>
      <string>Capital_Letter_O_WIT.11</string>
      <string>SMALL_LETTER_O_WITH_.11</string>
      <string>Capital_Letter_U_WIT</string>
      <string>SMALL_LETTER_U_WITH_</string>
      <string>Capital_Letter_U_WIT.1</string>
      <string>SMALL_LETTER_U_WITH_.1</string>
      <string>Capital_Letter_U_WIT.2</string>
      <string>SMALL_LETTER_U_WITH_.2</string>
      <string>Capital_Letter_U_WIT.3</string>
      <string>SMALL_LETTER_U_WITH_.3</string>
      <string>Capital_Letter_U_WIT.4</string>
      <string>SMALL_LETTER_U_WITH_.4</string>
      <string>Capital_Letter_U_WIT.5</string>
      <string>SMALL_LETTER_U_WITH_.5</string>
      <string>Capital_Letter_U_WIT.6</string>
      <string>SMALL_LETTER_U_WITH_.6</string>
      <string>Ygrave</string>
      <string>ygrave</string>
      <string>Capital_Letter_Y_WIT</string>
      <string>SMALL_LETTER_Y_WITH_</string>
      <string>Capital_Letter_Y_WIT.1</string>
      <string>SMALL_LETTER_Y_WITH_.1</string>
      <string>Capital_Letter_Y_WIT.2</string>
      <string>SMALL_LETTER_Y_WITH_.2</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>perthousand</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>Euro</string>
      <string>trademark</string>
      <string>minus</string>
      <string>SMALL_LIGATURE_FF</string>
      <string>SMALL_LIGATURE_FI</string>
      <string>SMALL_LIGATURE_FL</string>
      <string>SMALL_LIGATURE_FFI</string>
      <string>SMALL_LIGATURE_FFL</string>
    </array>
    <key>public.openTypeHeadModified</key>
    <string>2025/02/07 17:08:02</string>
    <key>public.openTypePostUnderlinePosition</key>
    <integer>0</integer>
  </dict>
</plist>
