<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>COMBINING_COMMA_BELO</key>
    <string>C_O_M_B_I_N_I_N_G__C_O_M_M_A__B_E_L_O_.glif</string>
    <key>COMBINING_HORN</key>
    <string>C_O_M_B_I_N_I_N_G__H_O_R_N_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Capital_Letter_A_WIT</key>
    <string>C_apital_L_etter_A__W_I_T_.glif</string>
    <key>Capital_Letter_A_WIT.1</key>
    <string>C_apital_L_etter_A__W_I_T_.1.glif</string>
    <key>Capital_Letter_A_WIT.10</key>
    <string>C_apital_L_etter_A__W_I_T_.10.glif</string>
    <key>Capital_Letter_A_WIT.11</key>
    <string>C_apital_L_etter_A__W_I_T_.11.glif</string>
    <key>Capital_Letter_A_WIT.2</key>
    <string>C_apital_L_etter_A__W_I_T_.2.glif</string>
    <key>Capital_Letter_A_WIT.3</key>
    <string>C_apital_L_etter_A__W_I_T_.3.glif</string>
    <key>Capital_Letter_A_WIT.4</key>
    <string>C_apital_L_etter_A__W_I_T_.4.glif</string>
    <key>Capital_Letter_A_WIT.5</key>
    <string>C_apital_L_etter_A__W_I_T_.5.glif</string>
    <key>Capital_Letter_A_WIT.6</key>
    <string>C_apital_L_etter_A__W_I_T_.6.glif</string>
    <key>Capital_Letter_A_WIT.7</key>
    <string>C_apital_L_etter_A__W_I_T_.7.glif</string>
    <key>Capital_Letter_A_WIT.8</key>
    <string>C_apital_L_etter_A__W_I_T_.8.glif</string>
    <key>Capital_Letter_A_WIT.9</key>
    <string>C_apital_L_etter_A__W_I_T_.9.glif</string>
    <key>Capital_Letter_E_WIT</key>
    <string>C_apital_L_etter_E__W_I_T_.glif</string>
    <key>Capital_Letter_E_WIT.1</key>
    <string>C_apital_L_etter_E__W_I_T_.1.glif</string>
    <key>Capital_Letter_E_WIT.2</key>
    <string>C_apital_L_etter_E__W_I_T_.2.glif</string>
    <key>Capital_Letter_E_WIT.3</key>
    <string>C_apital_L_etter_E__W_I_T_.3.glif</string>
    <key>Capital_Letter_E_WIT.4</key>
    <string>C_apital_L_etter_E__W_I_T_.4.glif</string>
    <key>Capital_Letter_E_WIT.5</key>
    <string>C_apital_L_etter_E__W_I_T_.5.glif</string>
    <key>Capital_Letter_E_WIT.6</key>
    <string>C_apital_L_etter_E__W_I_T_.6.glif</string>
    <key>Capital_Letter_E_WIT.7</key>
    <string>C_apital_L_etter_E__W_I_T_.7.glif</string>
    <key>Capital_Letter_G_wit</key>
    <string>C_apital_L_etter_G__wit.glif</string>
    <key>Capital_Letter_I_WIT</key>
    <string>C_apital_L_etter_I__W_I_T_.glif</string>
    <key>Capital_Letter_I_WIT.1</key>
    <string>C_apital_L_etter_I__W_I_T_.1.glif</string>
    <key>Capital_Letter_K_wit</key>
    <string>C_apital_L_etter_K__wit.glif</string>
    <key>Capital_Letter_L_wit</key>
    <string>C_apital_L_etter_L__wit.glif</string>
    <key>Capital_Letter_N_wit</key>
    <string>C_apital_L_etter_N__wit.glif</string>
    <key>Capital_Letter_O_WIT</key>
    <string>C_apital_L_etter_O__W_I_T_.glif</string>
    <key>Capital_Letter_O_WIT.1</key>
    <string>C_apital_L_etter_O__W_I_T_.1.glif</string>
    <key>Capital_Letter_O_WIT.10</key>
    <string>C_apital_L_etter_O__W_I_T_.10.glif</string>
    <key>Capital_Letter_O_WIT.11</key>
    <string>C_apital_L_etter_O__W_I_T_.11.glif</string>
    <key>Capital_Letter_O_WIT.2</key>
    <string>C_apital_L_etter_O__W_I_T_.2.glif</string>
    <key>Capital_Letter_O_WIT.3</key>
    <string>C_apital_L_etter_O__W_I_T_.3.glif</string>
    <key>Capital_Letter_O_WIT.4</key>
    <string>C_apital_L_etter_O__W_I_T_.4.glif</string>
    <key>Capital_Letter_O_WIT.5</key>
    <string>C_apital_L_etter_O__W_I_T_.5.glif</string>
    <key>Capital_Letter_O_WIT.6</key>
    <string>C_apital_L_etter_O__W_I_T_.6.glif</string>
    <key>Capital_Letter_O_WIT.7</key>
    <string>C_apital_L_etter_O__W_I_T_.7.glif</string>
    <key>Capital_Letter_O_WIT.8</key>
    <string>C_apital_L_etter_O__W_I_T_.8.glif</string>
    <key>Capital_Letter_O_WIT.9</key>
    <string>C_apital_L_etter_O__W_I_T_.9.glif</string>
    <key>Capital_Letter_R_wit</key>
    <string>C_apital_L_etter_R__wit.glif</string>
    <key>Capital_Letter_S_wit</key>
    <string>C_apital_L_etter_S__wit.glif</string>
    <key>Capital_Letter_T_wit</key>
    <string>C_apital_L_etter_T__wit.glif</string>
    <key>Capital_Letter_T_wit.1</key>
    <string>C_apital_L_etter_T__wit.1.glif</string>
    <key>Capital_Letter_U_WIT</key>
    <string>C_apital_L_etter_U__W_I_T_.glif</string>
    <key>Capital_Letter_U_WIT.1</key>
    <string>C_apital_L_etter_U__W_I_T_.1.glif</string>
    <key>Capital_Letter_U_WIT.2</key>
    <string>C_apital_L_etter_U__W_I_T_.2.glif</string>
    <key>Capital_Letter_U_WIT.3</key>
    <string>C_apital_L_etter_U__W_I_T_.3.glif</string>
    <key>Capital_Letter_U_WIT.4</key>
    <string>C_apital_L_etter_U__W_I_T_.4.glif</string>
    <key>Capital_Letter_U_WIT.5</key>
    <string>C_apital_L_etter_U__W_I_T_.5.glif</string>
    <key>Capital_Letter_U_WIT.6</key>
    <string>C_apital_L_etter_U__W_I_T_.6.glif</string>
    <key>Capital_Letter_Y_WIT</key>
    <string>C_apital_L_etter_Y__W_I_T_.glif</string>
    <key>Capital_Letter_Y_WIT.1</key>
    <string>C_apital_L_etter_Y__W_I_T_.1.glif</string>
    <key>Capital_Letter_Y_WIT.2</key>
    <string>C_apital_L_etter_Y__W_I_T_.2.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>GREEK_SMALL_LETTER_M</key>
    <string>G_R_E_E_K__S_M_A_L_L__L_E_T_T_E_R__M_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>MODIFIER_LETTER_MACR</key>
    <string>M_O_D_I_F_I_E_R__L_E_T_T_E_R__M_A_C_R_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>SMALL_LETTER_A_WITH_</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.glif</string>
    <key>SMALL_LETTER_A_WITH_.1</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.1.glif</string>
    <key>SMALL_LETTER_A_WITH_.10</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.10.glif</string>
    <key>SMALL_LETTER_A_WITH_.11</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.11.glif</string>
    <key>SMALL_LETTER_A_WITH_.2</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.2.glif</string>
    <key>SMALL_LETTER_A_WITH_.3</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.3.glif</string>
    <key>SMALL_LETTER_A_WITH_.4</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.4.glif</string>
    <key>SMALL_LETTER_A_WITH_.5</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.5.glif</string>
    <key>SMALL_LETTER_A_WITH_.6</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.6.glif</string>
    <key>SMALL_LETTER_A_WITH_.7</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.7.glif</string>
    <key>SMALL_LETTER_A_WITH_.8</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.8.glif</string>
    <key>SMALL_LETTER_A_WITH_.9</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__A__W_I_T_H__.9.glif</string>
    <key>SMALL_LETTER_E_WITH_</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.glif</string>
    <key>SMALL_LETTER_E_WITH_.1</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.1.glif</string>
    <key>SMALL_LETTER_E_WITH_.2</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.2.glif</string>
    <key>SMALL_LETTER_E_WITH_.3</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.3.glif</string>
    <key>SMALL_LETTER_E_WITH_.4</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.4.glif</string>
    <key>SMALL_LETTER_E_WITH_.5</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.5.glif</string>
    <key>SMALL_LETTER_E_WITH_.6</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.6.glif</string>
    <key>SMALL_LETTER_E_WITH_.7</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__E__W_I_T_H__.7.glif</string>
    <key>SMALL_LETTER_I_WITH_</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__I__W_I_T_H__.glif</string>
    <key>SMALL_LETTER_I_WITH_.1</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__I__W_I_T_H__.1.glif</string>
    <key>SMALL_LETTER_O_WITH_</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.glif</string>
    <key>SMALL_LETTER_O_WITH_.1</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.1.glif</string>
    <key>SMALL_LETTER_O_WITH_.10</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.10.glif</string>
    <key>SMALL_LETTER_O_WITH_.11</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.11.glif</string>
    <key>SMALL_LETTER_O_WITH_.2</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.2.glif</string>
    <key>SMALL_LETTER_O_WITH_.3</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.3.glif</string>
    <key>SMALL_LETTER_O_WITH_.4</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.4.glif</string>
    <key>SMALL_LETTER_O_WITH_.5</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.5.glif</string>
    <key>SMALL_LETTER_O_WITH_.6</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.6.glif</string>
    <key>SMALL_LETTER_O_WITH_.7</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.7.glif</string>
    <key>SMALL_LETTER_O_WITH_.8</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.8.glif</string>
    <key>SMALL_LETTER_O_WITH_.9</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__O__W_I_T_H__.9.glif</string>
    <key>SMALL_LETTER_U_WITH_</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.glif</string>
    <key>SMALL_LETTER_U_WITH_.1</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.1.glif</string>
    <key>SMALL_LETTER_U_WITH_.2</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.2.glif</string>
    <key>SMALL_LETTER_U_WITH_.3</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.3.glif</string>
    <key>SMALL_LETTER_U_WITH_.4</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.4.glif</string>
    <key>SMALL_LETTER_U_WITH_.5</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.5.glif</string>
    <key>SMALL_LETTER_U_WITH_.6</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__U__W_I_T_H__.6.glif</string>
    <key>SMALL_LETTER_Y_WITH_</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__Y__W_I_T_H__.glif</string>
    <key>SMALL_LETTER_Y_WITH_.1</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__Y__W_I_T_H__.1.glif</string>
    <key>SMALL_LETTER_Y_WITH_.2</key>
    <string>S_M_A_L_L__L_E_T_T_E_R__Y__W_I_T_H__.2.glif</string>
    <key>SMALL_LIGATURE_FF</key>
    <string>S_M_A_L_L__L_I_G_A_T_U_R_E__F_F_.glif</string>
    <key>SMALL_LIGATURE_FFI</key>
    <string>S_M_A_L_L__L_I_G_A_T_U_R_E__F_F_I_.glif</string>
    <key>SMALL_LIGATURE_FFL</key>
    <string>S_M_A_L_L__L_I_G_A_T_U_R_E__F_F_L_.glif</string>
    <key>SMALL_LIGATURE_FI</key>
    <string>S_M_A_L_L__L_I_G_A_T_U_R_E__F_I_.glif</string>
    <key>SMALL_LIGATURE_FL</key>
    <string>S_M_A_L_L__L_I_G_A_T_U_R_E__F_L_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Small_Letter_G_with_</key>
    <string>S_mall_L_etter_G__with_.glif</string>
    <key>Small_Letter_K_with_</key>
    <string>S_mall_L_etter_K__with_.glif</string>
    <key>Small_Letter_L_with_</key>
    <string>S_mall_L_etter_L__with_.glif</string>
    <key>Small_Letter_N_with_</key>
    <string>S_mall_L_etter_N__with_.glif</string>
    <key>Small_Letter_R_with_</key>
    <string>S_mall_L_etter_R__with_.glif</string>
    <key>Small_Letter_S_with_</key>
    <string>S_mall_L_etter_S__with_.glif</string>
    <key>Small_Letter_T_with_</key>
    <string>S_mall_L_etter_T__with_.glif</string>
    <key>Small_Letter_T_with_.1</key>
    <string>S_mall_L_etter_T__with_.1.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
