<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>space</string>
			<string>nbspace</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>Agrave</string>
			<string>agrave</string>
			<string>Aacute</string>
			<string>aacute</string>
			<string>Acircumflex</string>
			<string>acircumflex</string>
			<string>Atilde</string>
			<string>atilde</string>
			<string>Adieresis</string>
			<string>adieresis</string>
			<string>Amacron</string>
			<string>amacron</string>
			<string>Abreve</string>
			<string>abreve</string>
			<string>Aring</string>
			<string>aring</string>
			<string>Aringacute</string>
			<string>aringacute</string>
			<string>Adotbelow</string>
			<string>adotbelow</string>
			<string>Aogonek</string>
			<string>aogonek</string>
			<string>AE</string>
			<string>ae</string>
			<string>AEacute</string>
			<string>aeacute</string>
			<string>Cacute</string>
			<string>cacute</string>
			<string>Ccircumflex</string>
			<string>ccircumflex</string>
			<string>Ccaron</string>
			<string>ccaron</string>
			<string>Cdotaccent</string>
			<string>cdotaccent</string>
			<string>Ccedilla</string>
			<string>ccedilla</string>
			<string>Dcaron</string>
			<string>dcaron</string>
			<string>Dcroat</string>
			<string>dcroat</string>
			<string>Eth</string>
			<string>eth</string>
			<string>Egrave</string>
			<string>egrave</string>
			<string>Eacute</string>
			<string>eacute</string>
			<string>Ecircumflex</string>
			<string>ecircumflex</string>
			<string>Etilde</string>
			<string>etilde</string>
			<string>Ecaron</string>
			<string>ecaron</string>
			<string>Edieresis</string>
			<string>edieresis</string>
			<string>Emacron</string>
			<string>emacron</string>
			<string>Ebreve</string>
			<string>ebreve</string>
			<string>Edotaccent</string>
			<string>edotaccent</string>
			<string>Edotbelow</string>
			<string>edotbelow</string>
			<string>Eogonek</string>
			<string>eogonek</string>
			<string>Gcircumflex</string>
			<string>gcircumflex</string>
			<string>Gcaron</string>
			<string>gcaron</string>
			<string>Gbreve</string>
			<string>gbreve</string>
			<string>Gdotaccent</string>
			<string>gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>gcommaaccent</string>
			<string>Hcircumflex</string>
			<string>hcircumflex</string>
			<string>Hbar</string>
			<string>hbar</string>
			<string>idotless</string>
			<string>Igrave</string>
			<string>igrave</string>
			<string>Iacute</string>
			<string>iacute</string>
			<string>Icircumflex</string>
			<string>icircumflex</string>
			<string>Itilde</string>
			<string>itilde</string>
			<string>Idieresis</string>
			<string>idieresis</string>
			<string>Imacron</string>
			<string>imacron</string>
			<string>Ibreve</string>
			<string>ibreve</string>
			<string>Idotaccent</string>
			<string>idotaccent</string>
			<string>Idotbelow</string>
			<string>idotbelow</string>
			<string>Iogonek</string>
			<string>iogonek</string>
			<string>jdotless</string>
			<string>Jcircumflex</string>
			<string>jcircumflex</string>
			<string>Kcommaaccent</string>
			<string>kcommaaccent</string>
			<string>kgreenlandic</string>
			<string>Lacute</string>
			<string>lacute</string>
			<string>Lcaron</string>
			<string>lcaron</string>
			<string>Lcommaaccent</string>
			<string>lcommaaccent</string>
			<string>Lslash</string>
			<string>lslash</string>
			<string>Ldot</string>
			<string>ldot</string>
			<string>Nacute</string>
			<string>nacute</string>
			<string>Ntilde</string>
			<string>ntilde</string>
			<string>Ncaron</string>
			<string>ncaron</string>
			<string>Ncommaaccent</string>
			<string>ncommaaccent</string>
			<string>Eng</string>
			<string>eng</string>
			<string>Ograve</string>
			<string>ograve</string>
			<string>Oacute</string>
			<string>oacute</string>
			<string>Ocircumflex</string>
			<string>ocircumflex</string>
			<string>Otilde</string>
			<string>otilde</string>
			<string>Odieresis</string>
			<string>odieresis</string>
			<string>Omacron</string>
			<string>omacron</string>
			<string>Obreve</string>
			<string>obreve</string>
			<string>Ohungarumlaut</string>
			<string>ohungarumlaut</string>
			<string>Odotbelow</string>
			<string>odotbelow</string>
			<string>Oogonek</string>
			<string>oogonek</string>
			<string>Oslash</string>
			<string>oslash</string>
			<string>Oslashacute</string>
			<string>oslashacute</string>
			<string>OE</string>
			<string>oe</string>
			<string>Racute</string>
			<string>racute</string>
			<string>Rcaron</string>
			<string>rcaron</string>
			<string>Rcommaaccent</string>
			<string>rcommaaccent</string>
			<string>Sacute</string>
			<string>sacute</string>
			<string>Scircumflex</string>
			<string>scircumflex</string>
			<string>Scaron</string>
			<string>scaron</string>
			<string>Scedilla</string>
			<string>scedilla</string>
			<string>Scommaaccent</string>
			<string>scommaaccent</string>
			<string>Germandbls</string>
			<string>germandbls</string>
			<string>Tcaron</string>
			<string>tcaron</string>
			<string>Tcedilla</string>
			<string>tcedilla</string>
			<string>Tcommaaccent</string>
			<string>tcommaaccent</string>
			<string>Tbar</string>
			<string>tbar</string>
			<string>Thorn</string>
			<string>thorn</string>
			<string>Ugrave</string>
			<string>ugrave</string>
			<string>Uacute</string>
			<string>uacute</string>
			<string>Ucircumflex</string>
			<string>ucircumflex</string>
			<string>Utilde</string>
			<string>utilde</string>
			<string>Udieresis</string>
			<string>udieresis</string>
			<string>Umacron</string>
			<string>umacron</string>
			<string>Ubreve</string>
			<string>ubreve</string>
			<string>Uring</string>
			<string>uring</string>
			<string>Uhungarumlaut</string>
			<string>uhungarumlaut</string>
			<string>Udotbelow</string>
			<string>udotbelow</string>
			<string>Uogonek</string>
			<string>uogonek</string>
			<string>Wgrave</string>
			<string>wgrave</string>
			<string>Wacute</string>
			<string>wacute</string>
			<string>Wcircumflex</string>
			<string>wcircumflex</string>
			<string>Wdieresis</string>
			<string>wdieresis</string>
			<string>Ygrave</string>
			<string>ygrave</string>
			<string>Yacute</string>
			<string>yacute</string>
			<string>Ycircumflex</string>
			<string>ycircumflex</string>
			<string>Ytilde</string>
			<string>ytilde</string>
			<string>Ydieresis</string>
			<string>ydieresis</string>
			<string>Ymacron</string>
			<string>ymacron</string>
			<string>Zacute</string>
			<string>zacute</string>
			<string>Zcaron</string>
			<string>zcaron</string>
			<string>Zdotaccent</string>
			<string>zdotaccent</string>
			<string>Schwa</string>
			<string>schwa</string>
			<string>DZcaron</string>
			<string>Dzcaron</string>
			<string>dzcaron</string>
			<string>LJ</string>
			<string>Lj</string>
			<string>lj</string>
			<string>NJ</string>
			<string>Nj</string>
			<string>nj</string>
			<string>Adblgrave</string>
			<string>adblgrave</string>
			<string>Ainvertedbreve</string>
			<string>ainvertedbreve</string>
			<string>Edblgrave</string>
			<string>edblgrave</string>
			<string>Einvertedbreve</string>
			<string>einvertedbreve</string>
			<string>Idblgrave</string>
			<string>idblgrave</string>
			<string>Iinvertedbreve</string>
			<string>iinvertedbreve</string>
			<string>Odblgrave</string>
			<string>odblgrave</string>
			<string>Oinvertedbreve</string>
			<string>oinvertedbreve</string>
			<string>Rdblgrave</string>
			<string>rdblgrave</string>
			<string>Rinvertedbreve</string>
			<string>rinvertedbreve</string>
			<string>Udblgrave</string>
			<string>udblgrave</string>
			<string>Uinvertedbreve</string>
			<string>uinvertedbreve</string>
			<string>Odieresismacron</string>
			<string>odieresismacron</string>
			<string>Otildemacron</string>
			<string>otildemacron</string>
			<string>Odotaccentmacron</string>
			<string>odotaccentmacron</string>
			<string>f_f</string>
			<string>fi</string>
			<string>fl</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>ampersand</string>
			<string>at</string>
			<string>asterisk</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>asciicircum</string>
			<string>asciitilde</string>
			<string>grave</string>
			<string>acute</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>caroncomb.alt</string>
			<string>tilde</string>
			<string>dieresis</string>
			<string>macron</string>
			<string>apostrophemod</string>
			<string>firsttonechinese</string>
			<string>breve</string>
			<string>ring</string>
			<string>hungarumlaut</string>
			<string>dotaccent</string>
			<string>cedilla</string>
			<string>ogonek</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>circumflexcomb</string>
			<string>tildecomb</string>
			<string>macroncomb</string>
			<string>brevecomb</string>
			<string>dotaccentcomb</string>
			<string>dieresiscomb</string>
			<string>hookabovecomb</string>
			<string>ringcomb</string>
			<string>hungarumlautcomb</string>
			<string>caroncomb</string>
			<string>breveinvertedcomb</string>
			<string>dblgravecomb</string>
			<string>horncomb</string>
			<string>dotbelowcomb</string>
			<string>dieresisbelowcomb</string>
			<string>commaaccentcomb</string>
			<string>commaturnedabovecomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>brevebelowcomb</string>
			<string>macronbelowcomb</string>
			<string>softhyphen</string>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>ellipsis</string>
			<string>periodcentered</string>
			<string>periodcentered.loclCAT</string>
			<string>bulletoperator</string>
			<string>bullet</string>
			<string>slash</string>
			<string>backslash</string>
			<string>bar</string>
			<string>brokenbar</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>paragraph</string>
			<string>numbersign</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>fraction</string>
			<string>divisionslash</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
			<string>degree</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>plus</string>
			<string>minus</string>
			<string>plusminus</string>
			<string>equal</string>
			<string>notequal</string>
			<string>approxequal</string>
			<string>multiply</string>
			<string>less</string>
			<string>greater</string>
			<string>lessequal</string>
			<string>greaterequal</string>
			<string>divide</string>
			<string>logicalnot</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>section</string>
			<string>euro</string>
			<string>currency</string>
			<string>dollar</string>
			<string>cent</string>
			<string>florin</string>
			<string>sterling</string>
			<string>yen</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>numero</string>
			<string>micro</string>
			<string>zero.lf</string>
			<string>one.lf</string>
			<string>two.lf</string>
			<string>three.lf</string>
			<string>four.lf</string>
			<string>five.lf</string>
			<string>six.lf</string>
			<string>seven.lf</string>
			<string>eight.lf</string>
			<string>nine.lf</string>
			<string>Abreveacute</string>
			<string>Abrevedotbelow</string>
			<string>Abrevegrave</string>
			<string>Abrevehookabove</string>
			<string>Abrevetilde</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexdotbelow</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhookabove</string>
			<string>Acircumflextilde</string>
			<string>Ahookabove</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdotbelow</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhookabove</string>
			<string>Ecircumflextilde</string>
			<string>Ehookabove</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexdotbelow</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhookabove</string>
			<string>Ocircumflextilde</string>
			<string>Ohookabove</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndotbelow</string>
			<string>Ohorngrave</string>
			<string>Ohornhookabove</string>
			<string>Ohorntilde</string>
			<string>Uhookabove</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndotbelow</string>
			<string>Uhorngrave</string>
			<string>Uhornhookabove</string>
			<string>Uhorntilde</string>
			<string>Ydotbelow</string>
			<string>Yhookabove</string>
			<string>abreveacute</string>
			<string>abrevedotbelow</string>
			<string>abrevegrave</string>
			<string>abrevehookabove</string>
			<string>abrevetilde</string>
			<string>acircumflexacute</string>
			<string>acircumflexdotbelow</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhookabove</string>
			<string>acircumflextilde</string>
			<string>ahookabove</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdotbelow</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhookabove</string>
			<string>ecircumflextilde</string>
			<string>ehookabove</string>
			<string>Ihookabove</string>
			<string>ihookabove</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexdotbelow</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhookabove</string>
			<string>ocircumflextilde</string>
			<string>ohookabove</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndotbelow</string>
			<string>ohorngrave</string>
			<string>ohornhookabove</string>
			<string>ohorntilde</string>
			<string>uhookabove</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndotbelow</string>
			<string>uhorngrave</string>
			<string>uhornhookabove</string>
			<string>uhorntilde</string>
			<string>ydotbelow</string>
			<string>yhookabove</string>
			<string>colonsign</string>
			<string>franc</string>
			<string>lira</string>
			<string>naira</string>
			<string>peseta</string>
			<string>won</string>
			<string>dong</string>
			<string>kip</string>
			<string>peso</string>
			<string>guarani</string>
			<string>cedi</string>
			<string>rupeeIndian</string>
			<string>liraTurkish</string>
			<string>manat</string>
			<string>ruble</string>
		</array>
		<key>name</key>
		<string>GF Latin Plus</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>gravecomb.case</string>
			<string>acutecomb.case</string>
			<string>circumflexcomb.case</string>
			<string>tildecomb.case</string>
			<string>macroncomb.case</string>
			<string>brevecomb.case</string>
			<string>dotaccentcomb.case</string>
			<string>dieresiscomb.case</string>
			<string>hookabovecomb.case</string>
			<string>ringcomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>caroncomb.case</string>
			<string>breveinvertedcomb.case</string>
			<string>dblgravecomb.case</string>
			<string>horncomb.case</string>
			<string>dotbelowcomb.case</string>
			<string>dieresisbelowcomb.case</string>
			<string>commaaccentcomb.case</string>
			<string>commaturnedabovecomb.case</string>
			<string>cedillacomb.case</string>
			<string>ogonekcomb.case</string>
			<string>brevebelowcomb.case</string>
			<string>macronbelowcomb.case</string>
			<string>periodcentered.loclCAT.case</string>
			<string>zero.zero</string>
		</array>
		<key>name</key>
		<string>GF Latin Plus Case Accents</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
			<string>pi</string>
			<string>literSign</string>
			<string>Ohm</string>
			<string>estimated</string>
			<string>partialdiff</string>
			<string>increment</string>
			<string>product</string>
			<string>summation</string>
			<string>radical</string>
			<string>infinity</string>
			<string>integral</string>
			<string>lozenge</string>
			<string>emptyset</string>
			<string>commaturnedmod</string>
			<string>ringhalfright</string>
			<string>ringhalfleft</string>
			<string>verticallinemod</string>
			<string>secondtonechinese</string>
			<string>fourthtonechinese</string>
			<string>verticallinelowmod</string>
			<string>Ccedillaacute</string>
			<string>ccedillaacute</string>
			<string>Ddotbelow</string>
			<string>ddotbelow</string>
			<string>Dlinebelow</string>
			<string>dlinebelow</string>
			<string>Emacrongrave</string>
			<string>emacrongrave</string>
			<string>Emacronacute</string>
			<string>emacronacute</string>
			<string>Ecedillabreve</string>
			<string>ecedillabreve</string>
			<string>Gmacron</string>
			<string>gmacron</string>
			<string>Hdotbelow</string>
			<string>hdotbelow</string>
			<string>Hbrevebelow</string>
			<string>hbrevebelow</string>
			<string>Idieresisacute</string>
			<string>idieresisacute</string>
			<string>Ldotbelow</string>
			<string>ldotbelow</string>
			<string>Llinebelow</string>
			<string>llinebelow</string>
			<string>Mdotbelow</string>
			<string>mdotbelow</string>
			<string>Ndotaccent</string>
			<string>ndotaccent</string>
			<string>Ndotbelow</string>
			<string>ndotbelow</string>
			<string>Nlinebelow</string>
			<string>nlinebelow</string>
			<string>Otildeacute</string>
			<string>otildeacute</string>
			<string>Otildedieresis</string>
			<string>otildedieresis</string>
			<string>Omacrongrave</string>
			<string>omacrongrave</string>
			<string>Omacronacute</string>
			<string>omacronacute</string>
			<string>Rdotbelow</string>
			<string>rdotbelow</string>
			<string>Rlinebelow</string>
			<string>rlinebelow</string>
			<string>Sdotaccent</string>
			<string>sdotaccent</string>
			<string>Sdotbelow</string>
			<string>sdotbelow</string>
			<string>Sacutedotaccent</string>
			<string>sacutedotaccent</string>
			<string>Scarondotaccent</string>
			<string>scarondotaccent</string>
			<string>Sdotbelowdotaccent</string>
			<string>sdotbelowdotaccent</string>
			<string>Tdotbelow</string>
			<string>tdotbelow</string>
			<string>Tlinebelow</string>
			<string>tlinebelow</string>
			<string>Utildeacute</string>
			<string>utildeacute</string>
			<string>Umacrondieresis</string>
			<string>umacrondieresis</string>
			<string>Ydotaccent</string>
			<string>ydotaccent</string>
			<string>Zdotbelow</string>
			<string>zdotbelow</string>
			<string>tdieresis</string>
			<string>figurespace</string>
			<string>punctuationspace</string>
			<string>thinspace</string>
			<string>hairspace</string>
			<string>zerowidthspace</string>
			<string>hyphentwo</string>
			<string>figuredash</string>
			<string>horizontalbar</string>
			<string>prime</string>
			<string>second</string>
			<string>zerosuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>zeroinferior</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>zero.subs</string>
			<string>one.subs</string>
			<string>two.subs</string>
			<string>three.subs</string>
			<string>four.subs</string>
			<string>five.subs</string>
			<string>six.subs</string>
			<string>seven.subs</string>
			<string>eight.subs</string>
			<string>nine.subs</string>
		</array>
		<key>name</key>
		<string>GF Latin Pro</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>at.case</string>
			<string>hyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
			<string>periodcentered.case</string>
			<string>bullet.case</string>
			<string>slash.case</string>
			<string>backslash.case</string>
			<string>parenright.case</string>
			<string>bracketleft.case</string>
			<string>bracketright.case</string>
			<string>braceleft.case</string>
			<string>braceright.case</string>
			<string>guilsinglleft.case</string>
			<string>guilsinglright.case</string>
			<string>guillemetleft.case</string>
			<string>guillemetright.case</string>
			<string>zero.sups</string>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
			<string>four.sups</string>
			<string>five.sups</string>
			<string>six.sups</string>
			<string>seven.sups</string>
			<string>eight.sups</string>
			<string>nine.sups</string>
			<string>zero.sinf</string>
			<string>one.sinf</string>
			<string>two.sinf</string>
			<string>three.sinf</string>
			<string>four.sinf</string>
			<string>five.sinf</string>
			<string>six.sinf</string>
			<string>seven.sinf</string>
			<string>eight.sinf</string>
			<string>nine.sinf</string>
		</array>
		<key>name</key>
		<string>GF Latin Pro Optional</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>onethird</string>
			<string>twothirds</string>
			<string>oneeighth</string>
			<string>threeeighths</string>
			<string>fiveeighths</string>
			<string>seveneighths</string>
			<string>leftArrow</string>
			<string>upArrow</string>
			<string>rightArrow</string>
			<string>downArrow</string>
			<string>blackSquare</string>
			<string>whiteSquare</string>
			<string>upBlackTriangle</string>
			<string>upWhiteTriangle</string>
			<string>rightBlackTriangle</string>
			<string>rightWhiteTriangle</string>
			<string>downBlackTriangle</string>
			<string>downWhiteTriangle</string>
			<string>leftBlackTriangle</string>
			<string>leftWhiteTriangle</string>
			<string>blackDiamond</string>
			<string>whiteDiamond</string>
			<string>a.sc</string>
			<string>aacute.sc</string>
			<string>abreve.sc</string>
			<string>abreveacute.sc</string>
			<string>abrevedotbelow.sc</string>
			<string>abrevegrave.sc</string>
			<string>abrevehookabove.sc</string>
			<string>abrevetilde.sc</string>
			<string>acircumflex.sc</string>
			<string>acircumflexacute.sc</string>
			<string>acircumflexdotbelow.sc</string>
			<string>acircumflexgrave.sc</string>
			<string>acircumflexhookabove.sc</string>
			<string>acircumflextilde.sc</string>
			<string>adieresis.sc</string>
			<string>adotbelow.sc</string>
			<string>agrave.sc</string>
			<string>ahookabove.sc</string>
			<string>amacron.sc</string>
			<string>aogonek.sc</string>
			<string>aring.sc</string>
			<string>aringacute.sc</string>
			<string>atilde.sc</string>
			<string>ae.sc</string>
			<string>aeacute.sc</string>
			<string>b.sc</string>
			<string>c.sc</string>
			<string>cacute.sc</string>
			<string>ccaron.sc</string>
			<string>ccedilla.sc</string>
			<string>ccircumflex.sc</string>
			<string>cdotaccent.sc</string>
			<string>d.sc</string>
			<string>eth.sc</string>
			<string>dcaron.sc</string>
			<string>dcroat.sc</string>
			<string>e.sc</string>
			<string>eacute.sc</string>
			<string>ebreve.sc</string>
			<string>ecaron.sc</string>
			<string>ecircumflex.sc</string>
			<string>ecircumflexacute.sc</string>
			<string>ecircumflexdotbelow.sc</string>
			<string>ecircumflexgrave.sc</string>
			<string>ecircumflexhookabove.sc</string>
			<string>ecircumflextilde.sc</string>
			<string>edieresis.sc</string>
			<string>edotaccent.sc</string>
			<string>edotbelow.sc</string>
			<string>egrave.sc</string>
			<string>ehookabove.sc</string>
			<string>emacron.sc</string>
			<string>eogonek.sc</string>
			<string>etilde.sc</string>
			<string>f.sc</string>
			<string>g.sc</string>
			<string>gbreve.sc</string>
			<string>gcaron.sc</string>
			<string>gcircumflex.sc</string>
			<string>gcommaaccent.sc</string>
			<string>gdotaccent.sc</string>
			<string>h.sc</string>
			<string>hbar.sc</string>
			<string>hcircumflex.sc</string>
			<string>i.sc</string>
			<string>idotless.sc</string>
			<string>iacute.sc</string>
			<string>ibreve.sc</string>
			<string>icircumflex.sc</string>
			<string>idieresis.sc</string>
			<string>idotbelow.sc</string>
			<string>igrave.sc</string>
			<string>imacron.sc</string>
			<string>iogonek.sc</string>
			<string>itilde.sc</string>
			<string>j.sc</string>
			<string>jcircumflex.sc</string>
			<string>k.sc</string>
			<string>kcommaaccent.sc</string>
			<string>kgreenlandic.sc</string>
			<string>l.sc</string>
			<string>lacute.sc</string>
			<string>lcaron.sc</string>
			<string>lcommaaccent.sc</string>
			<string>ldot.sc</string>
			<string>lslash.sc</string>
			<string>m.sc</string>
			<string>n.sc</string>
			<string>nacute.sc</string>
			<string>ncaron.sc</string>
			<string>ncommaaccent.sc</string>
			<string>eng.sc</string>
			<string>ntilde.sc</string>
			<string>o.sc</string>
			<string>oacute.sc</string>
			<string>obreve.sc</string>
			<string>ocircumflex.sc</string>
			<string>ocircumflexacute.sc</string>
			<string>ocircumflexdotbelow.sc</string>
			<string>ocircumflexgrave.sc</string>
			<string>ocircumflexhookabove.sc</string>
			<string>ocircumflextilde.sc</string>
			<string>odieresis.sc</string>
			<string>odotbelow.sc</string>
			<string>ograve.sc</string>
			<string>ohookabove.sc</string>
			<string>ohorn.sc</string>
			<string>ohornacute.sc</string>
			<string>ohorndotbelow.sc</string>
			<string>ohorngrave.sc</string>
			<string>ohornhookabove.sc</string>
			<string>ohorntilde.sc</string>
			<string>ohungarumlaut.sc</string>
			<string>omacron.sc</string>
			<string>oogonek.sc</string>
			<string>oslash.sc</string>
			<string>oslashacute.sc</string>
			<string>otilde.sc</string>
			<string>oe.sc</string>
			<string>p.sc</string>
			<string>thorn.sc</string>
			<string>q.sc</string>
			<string>r.sc</string>
			<string>racute.sc</string>
			<string>rcaron.sc</string>
			<string>rcommaaccent.sc</string>
			<string>s.sc</string>
			<string>sacute.sc</string>
			<string>scaron.sc</string>
			<string>scedilla.sc</string>
			<string>scircumflex.sc</string>
			<string>scommaaccent.sc</string>
			<string>germandbls.sc</string>
			<string>schwa.sc</string>
			<string>t.sc</string>
			<string>tbar.sc</string>
			<string>tcaron.sc</string>
			<string>tcedilla.sc</string>
			<string>tcommaaccent.sc</string>
			<string>u.sc</string>
			<string>uacute.sc</string>
			<string>ubreve.sc</string>
			<string>ucircumflex.sc</string>
			<string>udieresis.sc</string>
			<string>udotbelow.sc</string>
			<string>ugrave.sc</string>
			<string>uhorn.sc</string>
			<string>uhornacute.sc</string>
			<string>uhorndotbelow.sc</string>
			<string>uhorngrave.sc</string>
			<string>uhornhookabove.sc</string>
			<string>uhorntilde.sc</string>
			<string>uhungarumlaut.sc</string>
			<string>umacron.sc</string>
			<string>dzcaron.sc</string>
			<string>lj.sc</string>
			<string>nj.sc</string>
			<string>adblgrave.sc</string>
			<string>ainvertedbreve.sc</string>
			<string>edblgrave.sc</string>
			<string>einvertedbreve.sc</string>
			<string>idblgrave.sc</string>
			<string>iinvertedbreve.sc</string>
			<string>odblgrave.sc</string>
			<string>oinvertedbreve.sc</string>
			<string>rdblgrave.sc</string>
			<string>rinvertedbreve.sc</string>
			<string>udblgrave.sc</string>
			<string>uinvertedbreve.sc</string>
			<string>odieresismacron.sc</string>
			<string>otildemacron.sc</string>
			<string>odotaccentmacron.sc</string>
			<string>ccedillaacute.sc</string>
			<string>ddotbelow.sc</string>
			<string>dlinebelow.sc</string>
			<string>emacrongrave.sc</string>
			<string>emacronacute.sc</string>
			<string>ecedillabreve.sc</string>
			<string>gmacron.sc</string>
			<string>hdotbelow.sc</string>
			<string>hbrevebelow.sc</string>
			<string>idieresisacute.sc</string>
			<string>ldotbelow.sc</string>
			<string>llinebelow.sc</string>
			<string>mdotbelow.sc</string>
			<string>ndotaccent.sc</string>
			<string>ndotbelow.sc</string>
			<string>nlinebelow.sc</string>
			<string>otildeacute.sc</string>
			<string>otildedieresis.sc</string>
			<string>omacrongrave.sc</string>
			<string>omacronacute.sc</string>
			<string>rdotbelow.sc</string>
			<string>rlinebelow.sc</string>
			<string>sdotaccent.sc</string>
			<string>sdotbelow.sc</string>
			<string>sacutedotaccent.sc</string>
			<string>scarondotaccent.sc</string>
			<string>sdotbelowdotaccent.sc</string>
			<string>tdotbelow.sc</string>
			<string>tlinebelow.sc</string>
			<string>utildeacute.sc</string>
			<string>umacrondieresis.sc</string>
			<string>ydotaccent.sc</string>
			<string>zdotbelow.sc</string>
			<string>tdieresis.sc</string>
			<string>ihookabove.sc</string>
			<string>uogonek.sc</string>
			<string>uring.sc</string>
			<string>utilde.sc</string>
			<string>v.sc</string>
			<string>w.sc</string>
			<string>wacute.sc</string>
			<string>wcircumflex.sc</string>
			<string>wdieresis.sc</string>
			<string>wgrave.sc</string>
			<string>x.sc</string>
			<string>y.sc</string>
			<string>yacute.sc</string>
			<string>ycircumflex.sc</string>
			<string>ydieresis.sc</string>
			<string>ydotbelow.sc</string>
			<string>ygrave.sc</string>
			<string>yhookabove.sc</string>
			<string>ymacron.sc</string>
			<string>ytilde.sc</string>
			<string>z.sc</string>
			<string>zacute.sc</string>
			<string>zcaron.sc</string>
			<string>zdotaccent.sc</string>
			<string>germandbls.alt.sc</string>
			<string>periodcentered.sc</string>
			<string>periodcentered.loclCAT.sc</string>
			<string>exclam.sc</string>
			<string>exclamdown.sc</string>
			<string>question.sc</string>
			<string>questiondown.sc</string>
			<string>quotedbl.sc</string>
			<string>quotedblleft.sc</string>
			<string>quotedblright.sc</string>
			<string>quoteleft.sc</string>
			<string>quoteright.sc</string>
			<string>quotesingle.sc</string>
			<string>ampersand.sc</string>
			<string>T_h</string>
			<string>c_t</string>
			<string>c_h</string>
			<string>s_t</string>
		</array>
		<key>name</key>
		<string>GF Latin Expert</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Iegrave-cy</string>
			<string>Io-cy</string>
			<string>Dje-cy</string>
			<string>Gje-cy</string>
			<string>E-cy</string>
			<string>Dze-cy</string>
			<string>I-cy</string>
			<string>Yi-cy</string>
			<string>Je-cy</string>
			<string>Lje-cy</string>
			<string>Nje-cy</string>
			<string>Tshe-cy</string>
			<string>Kje-cy</string>
			<string>Iigrave-cy</string>
			<string>Ushort-cy</string>
			<string>Dzhe-cy</string>
			<string>A-cy</string>
			<string>Be-cy</string>
			<string>Ve-cy</string>
			<string>Ge-cy</string>
			<string>De-cy</string>
			<string>Ie-cy</string>
			<string>Zhe-cy</string>
			<string>Ze-cy</string>
			<string>Ii-cy</string>
			<string>Iishort-cy</string>
			<string>Ka-cy</string>
			<string>El-cy</string>
			<string>Em-cy</string>
			<string>En-cy</string>
			<string>O-cy</string>
			<string>Pe-cy</string>
			<string>Er-cy</string>
			<string>Es-cy</string>
			<string>Te-cy</string>
			<string>U-cy</string>
			<string>Ef-cy</string>
			<string>Ha-cy</string>
			<string>Tse-cy</string>
			<string>Che-cy</string>
			<string>Sha-cy</string>
			<string>Shcha-cy</string>
			<string>Hardsign-cy</string>
			<string>Yeru-cy</string>
			<string>Softsign-cy</string>
			<string>Ereversed-cy</string>
			<string>Iu-cy</string>
			<string>Ia-cy</string>
			<string>a-cy</string>
			<string>be-cy</string>
			<string>ve-cy</string>
			<string>ge-cy</string>
			<string>de-cy</string>
			<string>ie-cy</string>
			<string>zhe-cy</string>
			<string>ze-cy</string>
			<string>ii-cy</string>
			<string>iishort-cy</string>
			<string>ka-cy</string>
			<string>el-cy</string>
			<string>em-cy</string>
			<string>en-cy</string>
			<string>o-cy</string>
			<string>pe-cy</string>
			<string>er-cy</string>
			<string>es-cy</string>
			<string>te-cy</string>
			<string>u-cy</string>
			<string>ef-cy</string>
			<string>ha-cy</string>
			<string>tse-cy</string>
			<string>che-cy</string>
			<string>sha-cy</string>
			<string>shcha-cy</string>
			<string>hardsign-cy</string>
			<string>yeru-cy</string>
			<string>softsign-cy</string>
			<string>ereversed-cy</string>
			<string>iu-cy</string>
			<string>ia-cy</string>
			<string>iegrave-cy</string>
			<string>io-cy</string>
			<string>dje-cy</string>
			<string>gje-cy</string>
			<string>e-cy</string>
			<string>dze-cy</string>
			<string>i-cy</string>
			<string>yi-cy</string>
			<string>je-cy</string>
			<string>lje-cy</string>
			<string>nje-cy</string>
			<string>tshe-cy</string>
			<string>kje-cy</string>
			<string>iigrave-cy</string>
			<string>ushort-cy</string>
			<string>dzhe-cy</string>
			<string>Yat-cy</string>
			<string>yat-cy</string>
			<string>Yusbig-cy</string>
			<string>yusbig-cy</string>
			<string>Fita-cy</string>
			<string>fita-cy</string>
			<string>Izhitsa-cy</string>
			<string>izhitsa-cy</string>
			<string>Gheupturn-cy</string>
			<string>gheupturn-cy</string>
			<string>Ghestroke-cy</string>
			<string>ghestroke-cy</string>
			<string>Ghemiddlehook-cy</string>
			<string>ghemiddlehook-cy</string>
			<string>Zhedescender-cy</string>
			<string>zhedescender-cy</string>
			<string>Zedescender-cy</string>
			<string>zedescender-cy</string>
			<string>Kadescender-cy</string>
			<string>kadescender-cy</string>
			<string>Kaverticalstroke-cy</string>
			<string>kaverticalstroke-cy</string>
			<string>Kabashkir-cy</string>
			<string>kabashkir-cy</string>
			<string>Endescender-cy</string>
			<string>endescender-cy</string>
			<string>Enghe-cy</string>
			<string>enghe-cy</string>
			<string>Esdescender-cy</string>
			<string>esdescender-cy</string>
			<string>Ustrait-cy</string>
			<string>ustrait-cy</string>
			<string>Ustraitstroke-cy</string>
			<string>ustraitstroke-cy</string>
			<string>Chedescender-cy</string>
			<string>chedescender-cy</string>
			<string>Cheverticalstroke-cy</string>
			<string>cheverticalstroke-cy</string>
			<string>Shha-cy</string>
			<string>shha-cy</string>
			<string>Palochka-cy</string>
			<string>Zhebreve-cy</string>
			<string>zhebreve-cy</string>
			<string>Chekhakassian-cy</string>
			<string>chekhakassian-cy</string>
			<string>palochka-cy</string>
			<string>Abreve-cy</string>
			<string>abreve-cy</string>
			<string>Adieresis-cy</string>
			<string>adieresis-cy</string>
			<string>Aie-cy</string>
			<string>aie-cy</string>
			<string>Iebreve-cy</string>
			<string>iebreve-cy</string>
			<string>Schwa-cy</string>
			<string>schwa-cy</string>
			<string>Zhedieresis-cy</string>
			<string>zhedieresis-cy</string>
			<string>Zedieresis-cy</string>
			<string>zedieresis-cy</string>
			<string>Imacron-cy</string>
			<string>imacron-cy</string>
			<string>Idieresis-cy</string>
			<string>idieresis-cy</string>
			<string>Odieresis-cy</string>
			<string>odieresis-cy</string>
			<string>Obarred-cy</string>
			<string>obarred-cy</string>
			<string>Umacron-cy</string>
			<string>umacron-cy</string>
			<string>Udieresis-cy</string>
			<string>udieresis-cy</string>
			<string>Uhungarumlaut-cy</string>
			<string>uhungarumlaut-cy</string>
			<string>Chedieresis-cy</string>
			<string>chedieresis-cy</string>
			<string>Gedescender-cy</string>
			<string>gedescender-cy</string>
			<string>Yerudieresis-cy</string>
			<string>yerudieresis-cy</string>
			<string>Qa-cy</string>
			<string>qa-cy</string>
			<string>We-cy</string>
			<string>we-cy</string>
			<string>Pedescender-cy</string>
			<string>pedescender-cy</string>
			<string>acutecomb</string>
			<string>apostrophemod</string>
			<string>brevecomb-cy</string>
			<string>commaaccentcomb</string>
			<string>gravecomb</string>
			<string>hryvnia</string>
			<string>tenge</string>
			<string>tugrik</string>
			<string>descender-cy</string>
			<string>descender-cy.case</string>
			<string>verticalbar-cy</string>
			<string>verticalbar-cy.case</string>
		</array>
		<key>name</key>
		<string>GF Cyrillic Plus</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>De-cy.loclBGR</string>
			<string>Ii-cy.loclBGR</string>
			<string>Iishort-cy.loclBGR</string>
			<string>Iigrave-cy.loclBGR</string>
			<string>El-cy.loclBGR</string>
			<string>Ef-cy.loclBGR</string>
			<string>ve-cy.loclBGR</string>
			<string>ge-cy.loclBGR</string>
			<string>de-cy.loclBGR</string>
			<string>zhe-cy.loclBGR</string>
			<string>ze-cy.loclBGR</string>
			<string>ii-cy.loclBGR</string>
			<string>iishort-cy.loclBGR</string>
			<string>iigrave-cy.loclBGR</string>
			<string>ka-cy.loclBGR</string>
			<string>el-cy.loclBGR</string>
			<string>en-cy.loclBGR</string>
			<string>pe-cy.loclBGR</string>
			<string>te-cy.loclBGR</string>
			<string>tse-cy.loclBGR</string>
			<string>che-cy.loclBGR</string>
			<string>sha-cy.loclBGR</string>
			<string>shcha-cy.loclBGR</string>
			<string>softsign-cy.loclBGR</string>
			<string>hardsign-cy.loclBGR</string>
			<string>iu-cy.loclBGR</string>
			<string>be-cy.loclSRB</string>
			<string>ge-cy.loclSRB</string>
			<string>de-cy.loclSRB</string>
			<string>pe-cy.loclSRB</string>
			<string>te-cy.loclSRB</string>
			<string>gje-cy.loclMKD</string>
			<string>Ghestroke-cy.loclBSH</string>
			<string>ghestroke-cy.loclBSH</string>
			<string>Zedescender-cy.loclBSH</string>
			<string>zedescender-cy.loclBSH</string>
			<string>Esdescender-cy.loclBSH</string>
			<string>esdescender-cy.loclBSH</string>
			<string>Esdescender-cy.loclCHU</string>
			<string>esdescender-cy.loclCHU</string>
		</array>
		<key>name</key>
		<string>GF Cyrillic Plus .locl</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Iishorttail-cy</string>
			<string>iishorttail-cy</string>
			<string>Semisoftsign-cy</string>
			<string>semisoftsign-cy</string>
			<string>Ertick-cy</string>
			<string>ertick-cy</string>
			<string>Kastroke-cy</string>
			<string>kastroke-cy</string>
			<string>Pemiddlehook-cy</string>
			<string>pemiddlehook-cy</string>
			<string>Haabkhasian-cy</string>
			<string>haabkhasian-cy</string>
			<string>Tedescender-cy</string>
			<string>tedescender-cy</string>
			<string>Hadescender-cy</string>
			<string>hadescender-cy</string>
			<string>Tetse-cy</string>
			<string>tetse-cy</string>
			<string>Cheabkhasian-cy</string>
			<string>cheabkhasian-cy</string>
			<string>Chedescenderabkhasian-cy</string>
			<string>chedescenderabkhasian-cy</string>
			<string>Kahook-cy</string>
			<string>kahook-cy</string>
			<string>Eltail-cy</string>
			<string>eltail-cy</string>
			<string>Enhook-cy</string>
			<string>enhook-cy</string>
			<string>Entail-cy</string>
			<string>entail-cy</string>
			<string>Emtail-cy</string>
			<string>emtail-cy</string>
			<string>Schwadieresis-cy</string>
			<string>schwadieresis-cy</string>
			<string>Dzeabkhasian-cy</string>
			<string>dzeabkhasian-cy</string>
			<string>Obarreddieresis-cy</string>
			<string>obarreddieresis-cy</string>
			<string>Edieresis-cy</string>
			<string>edieresis-cy</string>
			<string>Gestrokehook-cy</string>
			<string>gestrokehook-cy</string>
			<string>Hahook-cy</string>
			<string>hahook-cy</string>
			<string>Hastroke-cy</string>
			<string>hastroke-cy</string>
			<string>Reversedze-cy</string>
			<string>reversedze-cy</string>
			<string>Elhook-cy</string>
			<string>elhook-cy</string>
			<string>Shhadescender-cy</string>
			<string>shhadescender-cy</string>
			<string>EnLeftHook-cy</string>
			<string>enlefthook-cy</string>
			<string>Eldescender-cy</string>
			<string>eldescender-cy</string>
		</array>
		<key>name</key>
		<string>GF Cyrillic Pro</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Omega-cy</string>
			<string>omega-cy</string>
			<string>Eiotified-cy</string>
			<string>eiotified-cy</string>
			<string>Yuslittle-cy</string>
			<string>yuslittle-cy</string>
			<string>Yuslittleiotified-cy</string>
			<string>yuslittleiotified-cy</string>
			<string>Yusbigiotified-cy</string>
			<string>yusbigiotified-cy</string>
			<string>Ksi-cy</string>
			<string>ksi-cy</string>
			<string>Psi-cy</string>
			<string>psi-cy</string>
			<string>Izhitsadblgrave-cy</string>
			<string>izhitsadblgrave-cy</string>
			<string>Uk-cy</string>
			<string>uk-cy</string>
			<string>uni047A</string>
			<string>uni047B</string>
			<string>uni047C</string>
			<string>uni047D</string>
			<string>uni047E</string>
			<string>uni047F</string>
			<string>Koppa-cy</string>
			<string>koppa-cy</string>
			<string>thousand-cy</string>
			<string>titlocomb-cy</string>
			<string>palatalizationcomb-cy</string>
			<string>dasiapneumatacomb-cy</string>
			<string>psilipneumatacomb-cy</string>
			<string>pokrytiecomb-cy</string>
			<string>hundredthousandssigncomb-cy</string>
			<string>millionssigncomb-cy</string>
			<string>OmegaBroad-cy</string>
			<string>omegaBroad-cy</string>
		</array>
		<key>name</key>
		<string>GF Cyrillic Historical</string>
	</dict>
</array>
</plist>
