# Check to_sandbox.txt and to_production.txt do not contain typos
name: Google Fonts Test Server Files

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test_server_files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: pip install gftools[qa]
    - name: Check server files
      run: gftools push-status . --lint

